# Data Science Tools and Ecosystem

In [52]:
print ('In this notebook, Data Science Tools and Ecosystem are summarized')

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**

In [56]:
print ('- List popular languages for Data Science')
print ('- List commonly used libraries used by data scientists')
print ('- Create tables')
print ('- Calculate')
print ('- Write in Headings')

- List popular languages for Data Science
- List commonly used libraries used by data scientists
- Create tables
- Calculate
- Write in Headings

In [12]:
print ('Some of the popular languages that Data Scientists use are:')
print ('1. SQL')
print ('2. Python')
print ('3. R')

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

In [13]:
print ('Some of the commonly used libraries used by Data Scientists include:')
print ('1. NumPy')
print ('2. Pandas')
print ('3. Seaborn')

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn

In [14]:
print ('| Data Science Tools |')
print ('| Jupyter Notebook |')
print ('| RStudio |')
print ('| Apache Spark |')

| Data Science Tools |
| Jupyter Notebook |
| RStudio |
| Apache Spark |

In [29]:
print ('This a simple arithmetic expression to mutiply then add integers')

This a simple arithmetic expression to mutiply then add integers

In [38]:
(3*4)+5

17

### Below are a few examples of evaluating arithmetic expressions in Python

In [50]:
print (' This will convert 200 minutes to hours by diving by 60')

 This will convert 200 minutes to hours by diving by 60

In [51]:
200/60

3.3333333333333335

## Author

In [57]:
print ('Enxhi Nebiaj')

Enxhi Nebiaj